.classBgImg {
  width: 100%;
  background-image: url("./assets/images/bgImg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-y: top;
}

.bookDemoInfoBgImg {
  width: 100%;
  background-image: url("./assets/images/bookdemoinfoimg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
